<!DOCTYPE html> 
<html lang="en">
<head> 
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/style.css">
	<title>PassGEN</title>
</head>
<div class="header"> 
  <h1>PassGEN</h1>
  <p>Generate a secure password</p>
</div>
<body>
	<div class="body">
		<input type="text" value={{message}} id="passwordBox"> <br>
		<button onClick="window.location.reload();">Generate</button>
		<div class="tooltip">
			<button onclick="myFunction()" onmouseout="outFunc()"> <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>Copy text</button>
		</div>

		<script>
		function myFunction() {
		  var copyText = document.getElementById("passwordBox");
		  copyText.select();
		  copyText.setSelectionRange(0, 99999);
		  document.execCommand("copy");
		  
		  var tooltip = document.getElementById("myTooltip");
		  tooltip.innerHTML = "Copied";
		}

		function outFunc() {
		  var tooltip = document.getElementById("myTooltip");
		  tooltip.innerHTML = "Copy to clipboard";
		}
		</script>
	</div>
</body>
</html>
