<!DOCTYPE html> 
<html lang="en">
<head> 
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/style.css">
	<title>PassGEN</title>
</head>
<div class="header"> 
  <h1>PassGEN</h1>
  <p>Generate a secure password</p>
</div>
<body>
	<div class="body">
		<input type="text" value="" id="passwordBox">
		<div class="password-meter-wrap">
			<div class="password-meter-bar"></div>
		</div>
		<br>
		<button onClick="passwordGenerator()" id="generateButton">Generate</button>
		<div class="tooltip">
			<button onclick="clipboardCopy()"> <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>Copy text</button>
		</div>

		<script type="text/javascript" src="/static/zxcvbn.js"></script>
		<script type="text/javascript" src="/static/script.js"></script>
	</div>
</body>
</html>
